.product_page {
    width: 100%;
    margin-top: 20px;
}

.product_page_title {
    padding: 10px 0 10px 10px;
    background: red;
    color: white;

    border-bottom-right-radius: 300px;
}

.product_page_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}