@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: #F7F8F9;
}
.container{
  max-width: 1400px !important;
  padding: 0 15px !important;
  margin: 0 auto !important;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.ant-dropdown {
  z-index: 9999;

}